<!-- PAGE HEADER -->
<%= render "shared/top" %>
      <section class="trd-page-breadcumb-header">
          <div class="container">
              <div class="row">
                  <h1 class="trd-page-title">Withdraw Balance</h1>
                  <div class="trd-breadcumb-wrapper">

                  </div>
              </div>
          </div>
      </section>
      <!-- PAGE HEADER END -->

      <!-- PAGE CONTENTS -->
      <section class="trd-page-contents-wrapper">
          <div class="container">
              <div class="row">
                <div class="trd-contact-form-wrapper col-md-8 col-md-offset-2 col-sm-6 col-xs-12">
                    <h1 class="trd-section-tittle">Withdrawal <span class="trd-highlight-text">Form</span></h1>

                    <%= simple_form_for([:balance, @withdraw], :url => balance_withdraw_index_path) do |f| %>
                    <%= f.error_notification %>

                      <%= f.input :name, id: 'trd-name' %>
                      <%= f.input :email, id: 'trd-email' %>
                      <%= f.input :account_number, id: 'trd-email', required: true, autofocus: true, placeholder: "Your Account Number" %>
                      <%= f.input :amount %>
                      <%= f.input :bitcoin_address %>
                      <%= f.submit :submit, class: "btn btn-success btt ", label: "Send Message" %>
                    <% end %>
                </div>
              </div>
            </div>
          </section>
