<tr>
    <td background="https://www.filepicker.io/api/file/kmlo6MonRpWsVuuM47EG" bgcolor="#8b8284" valign="top" style="background: url(https://www.filepicker.io/api/file/kmlo6MonRpWsVuuM47EG) no-repeat center; background-color: #8b8284; background-position: center;">
      <!--[if gte mso 9]>
      <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="mso-width-percent:1000;height:303px;">
        <v:fill type="tile" src="https://www.filepicker.io/api/file/kmlo6MonRpWsVuuM47EG" color="#8b8284" />
        <v:textbox inset="0,0,0,0">
      <![endif]-->
      <div>
        <center>
          <table cellspacing="0" cellpadding="0" width="530" height="303" class="w320">
            <tr>
              <td valign="middle" style="vertical-align:middle; padding-right: 15px; padding-left: 15px; text-align:left;" height="303">

                <table cellspacing="0" cellpadding="0" width="100%">
                  <tr>
                    <td>
                      <h1>Account Setup Successful</h1><br>
                      <h2>Please review your email below or click the button to review your account.</h2>
                      <br>
                    </td>
                  </tr>
                </table>

                <table cellspacing="0" cellpadding="0" width="100%">
                <tr>
                <td class="hide reveal">
                  &nbsp;
                </td>
                  <td style="width:150px; height:33px; background-color: #3bcdc3;" >
                    <div>
                      <%= link_to "Account", new_user_session_url, style: "background-color:#3bcdc3;border-radius:4px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:40px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;"  %>

                      </div>
                  </td>
                  <td>
                    &nbsp;
                  </td>
                </tr>
              </table>
              </td>
            </tr>
          </table>
        </center>
      </div>
      <!--[if gte mso 9]>
        </v:textbox>
      </v:rect>
      <![endif]-->
    </td>
  </tr>
  <tr>
    <td valign="top">

      <center>
        <table cellspacing="0" cellpadding="0" width="500" class="w320">
          <tr>
            <td valign="top" style="border-bottom:1px solid #a1a1a1;">


            <table cellspacing="0" cellpadding="0" width="100%">
              <tr>
                <td style="padding: 30px 0;" class="mobile-padding">
                <table class="force-full-width" cellspacing="0" cellpadding="0">
                  <tr>
                    <td style="text-align: left;">
                      <span class="important-font">
                      <%= @user.name %> <br>
                      </span>
                    <%= @user.address %><br>
                    <%= @user.country %> <br>

                    </td>
                    <td style="text-align: right; vertical-align:top;">
                      <span class="important-font">
                        Account number: $<%= @account.account_number %><br>
                      </span>
                      <%= @account.created_at.strftime("%b %d, %Y") %>

                    </td>
                  </tr>
                </table>

                </td>
              </tr>
              <tr>
                <td style="padding-bottom: 30px;" class="mobile-padding">

                  <table class="force-full-width" cellspacing="0" cellpadding="0">
                    <tr>

                      <td class="mobile-block" width="33%">
                        <table cellspacing="0" cellpadding="0" class="force-full-width">
                          <tr>
                            <td class="mobile-border" style="background-color: #3bcdc3; color: #ffffff; padding: 5px; border-right: 3px solid #ffffff;">
                            Service
                            </td>
                          </tr>
                          <tr>
                            <td style="background-color: #ebebeb; padding: 8px; border-top: 3px solid #ffffff;">
                            Account
                            </td>
                          </tr>
                        </table>
                      </td>

                      <td class="mobile-block" width="33%">
                        <table cellspacing="0" cellpadding="0" class="force-full-width">
                          <tr>
                            <td class="mobile-border" style="background-color: #3bcdc3; color: #ffffff; padding: 5px; border-right: 3px solid #ffffff;">
                            Type
                            </td>
                          </tr>
                          <tr>
                            <td style="background-color: #ebebeb; padding: 8px; border-top: 3px solid #ffffff;">

                            Progressive
                            </td>
                          </tr>
                        </table>
                      </td>

                      <td class="mobile-block" width="34%">
                        <table cellspacing="0" cellpadding="0" class="force-full-width">
                          <tr>
                            <td style="background-color: #3bcdc3; color: #ffffff; padding: 5px;">
                              Wallet Address
                            </td>
                          </tr>
                          <tr>
                            <td style="background-color: #ebebeb; padding: 8px; border-top: 3px solid #ffffff;">
                          <%= @account.bitcoin_address %>
                            </td>
                          </tr>
                        </table>
                      </td>

                    </tr>
                  </table>

                </td>
              </tr>
              <tr>
                <td class="mobile-padding">

                   <table cellspacing="0" cellpadding="0" width="100%">
                    <tr>
                      <td style="text-align: center;">
                        <h3>Thank You For Creating An Account Now With Just Few Steps You Can Earn While You Sleep</h3>
                        <br>
                      </td>
                    </tr>
                  </table>

                </td>
              </tr>
            </table>
            </td>
          </tr>
        </table>
