

<!-- HERO SLIDER SECTION -->
<section class="trd-hero-slider-section">
    <div class="slider-pro trd-hero-slider" id="trd-slider-homesix">
        <div class="sp-slides">
            <!-- Slides -->
            <div class="sp-slide trd-main-slides">
                <div class="trd-dark-color-overlay"></div>

                <%= image_tag "home6-slider-img-1.jpg", class: "sp-image" %>

                <h1 class="sp-layer trd-slider-text-big"
                 data-position="centerLeft" data-vertical="-230"  data-horizontal="100"  data-show-transition="left" data-hide-transition="up" data-show-delay="1000" data-hide-delay="200">
                Never<span class="trd-highlight-text"> Put Your Capital </span><br>    At Risk Again


                 </h1>

                <p class="sp-layer trd-slider-text-small"
                 data-position="centerLeft" data-vertical="0" data-horizontal="100" data-show-delay="1500" data-hide-delay="200" data-show-transition="down" data-hide-transition="down">
                  Join the world's largest digital currency Auto-powered trading platform.
                </p>

                <div class="sp-layer trd-hero-header-btns" data-position="centerLeft" data-vertical="200" data-horizontal="100" data-show-delay="2000" data-hide-delay="200" data-show-transition="down" data-hide-transition="up">
                    <a href="#how" class="trd-btn">Details</a>
                    <%= link_to new_user_registration_path, class: " trd-btn trd-btn-purple " do %>
                    Sign Up
                    <% end %>
                </div>
            </div>
            <!-- Slides End -->


            <!-- Slides -->
            <div class="sp-slide trd-main-slides">
                <div class="trd-dark-color-overlay"></div>

                  <%= image_tag "home5-slider-img-2.jpg", class: "sp-image" %>

                <h1 class="sp-layer trd-slider-text-big"
                 data-position="center" data-vertical="-230"  data-horizontal="300"  data-show-transition="left" data-hide-transition="up" data-show-delay="1000" data-hide-delay="200">
                  Earn <span class="trd-highlight-text">A Percentage Daily</span><br>
                 </h1>

                <p class="sp-layer trd-slider-text-small"
                 data-position="center" data-vertical="0" data-horizontal="465" data-show-delay="1500" data-hide-delay="200" data-show-transition="down" data-hide-transition="down">
                  Earn deposits and cashback bonuses based on your trading activity. <br> Make Upto 30%(minimum) Your deposit in just 30 days
                </p>

                <div class="sp-layer trd-hero-header-btns" data-position="center" data-vertical="200" data-horizontal="100" data-show-delay="2000" data-hide-delay="200" data-show-transition="down" data-hide-transition="up">
                  <%= link_to new_user_registration_path, class: " trd-btn trd-btn-purple " do %>
                  Sign Up
                  <% end %>
                </div>
            </div>
            <!-- Slides End -->
        </div>
    </div>
</section>
<!-- HERO SLIDER SECTION END -->


<!-- CUSTOM SECTION -->
<section class="trd-custom-section trd-gray-section" id="how">
  <div class="text-center"><h1>How It Works </h1></div>
  <br>
  <br>
    <div class="container">
        <div class="row">


            <div class="trd-process-step-wrapper">
                <div class="trd-process-step-wrapper col-md-4 col-sm-4 col-xs-12">
                    <div class="trd-process-step">
                        <div class="trd-step-img-wrapper">

                            <%= image_tag "profit.svg", alt: "deposit" %>
                        </div>

                        <div class="trd-step-details-wrapper">
                          <%= link_to page_path("How-it-works") do %>
<span>01</span> Deposit Your Favourite Digital Currency(BITCOIN)<%end%>
                        </div>
                    </div>
                </div>

                <div class="trd-process-step-wrapper col-md-4 col-sm-4 col-xs-12">
                    <div class="trd-process-step">
                        <div class="trd-step-img-wrapper">
                            <%= image_tag "group.svg" %>
                        </div>

                        <div class="trd-step-details-wrapper">
                            <%= link_to page_path("How-it-works") do %><span>02</span> Let Our Experts & Software Work For You<% end %>
                        </div>
                    </div>
                </div>

                <div class="trd-process-step-wrapper col-md-4 col-sm-4 col-xs-12">
                    <div class="trd-process-step">
                        <div class="trd-step-img-wrapper">
                            <%= image_tag "paid.svg" %>
                        </div>

                        <div class="trd-step-details-wrapper">
                                  <%= link_to page_path("How-it-works") do %><span>03</span> Get Paid In 30 Days Guaranteed <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CUSTOM SECTION END -->
 <!-- CTA SECTION -->
<section class="trd-cta-section">
    <div class="container">
        <div class="row">
            <div class="trd-cta-wrapper">
                <h3>We help you to get the best <span class="trd-highlight-text">Profit & Investment</span> growth And Never Lose Your Capital Ever Again</h3>

                <%= link_to new_user_registration_path, class: " trd-btn trd-btn-alt" do %>
                Sign Up Now
                <% end %>
            </div>
        </div>
    </div>
</section>
<!-- CTA SECTION END -->

<!-- SERVICE SECTION -->
<section class="trd-service-section trd-section">
  <div class="text-center"><h1>Some Amazing Features </h1></div>
  <br>
  <br>
    <div class="container">
        <div class="row">
            <!-- Icon with text -->
            <div class="col-md-4 col-sm-4 col-xs-12 trd-icon-top-with-text">
                <div class="trd-icon-wrapper">
                    <i class="tradeicon-trd-coffee-mug"></i>
                </div>

                <div class="trd-details">
                    <h3>
                        <a href="#">Easy-To-Use</a>
                    </h3>

                    <p>The trading dashboard gives you a unified and powerful trading experience. Quickly check price charts loaded with essential tools and effortlessly browse trading ideas and news without needing to switch context.</p>
                </div>
            </div>
            <!-- End -->

            <!-- Icon with text -->
            <div class="col-md-4 col-sm-4 col-xs-12 trd-icon-top-with-text">
                <div class="trd-icon-wrapper">
                    <i class="tradeicon-trd-trophy"></i>
                </div>

                <div class="trd-details">
                    <h3>
                        <a href="#">Upfront Risk Management</a>
                    </h3>

                    <p>We make sure that your capital stays intact  while we trade . Experience the thrill of guaranteed stops with unmatched execution speed.</p>
                </div>
            </div>
            <!-- End -->

            <!-- Icon with text -->
            <div class="col-md-4 col-sm-4 col-xs-12 trd-icon-top-with-text">
                <div class="trd-icon-wrapper">
                    <i class="tradeicon-trd-chart-board"></i>
                </div>

                <div class="trd-details">
                    <h3>
                        <a href="#">Bonuses</a>
                    </h3>

                    <p>Earn deposit and cashback bonuses based on your trading activity. Get notified of bonus payments made to your balance in real-time as you trade, right in your dashboard</p>
                </div>
            </div>
            <!-- End -->
        </div>
    </div>
</section>
<!-- SERVICE SECTION END -->

<!-- COUNTER SECTION -->
<section class="trd-counter-section trd-section trd-homesix-counter">
    <div class="container">
        <div class="row">

          <div class="col-md-12">
            <h1 class="text-center" style="color:#ffffff; font-size:60px;">
              Your Capital Is Not At Risk
            </h1>
            <h1 class="text-center" style="color:#ffffff; font-size:40px;">
              +
            </h1>
            <h1 class="text-center" style="color:#ffffff; font-size:60px;">
            You Get 1% Daily!!
            </h1>
          </div>

            <!-- Counter Item
            <div class="col-md-4 col-sm-4 col-xs-12 trd-counter">
                <h3 class="trd-count" data-from="0" data-to="82784">$</h3>
                <p>24-HOUR  &amp; VOLUME</p>
            </div>



            <div class="col-md-4 col-sm-4 col-xs-12 trd-counter trd-count-client">
                <h3 class="trd-count" data-from="0" data-to="234987">$</h3>
                <p>7-DAY VOLUME</p>
            </div>



            <div class="col-md-4 col-sm-4 col-xs-12 trd-counter">
                <h3 class="trd-count" data-from="0" data-to="3345000">$</h3>
                <p>PAYOUTS</p>
            </div>
            <!-- End -->
        </div>
    </div>
</section>
<!-- COUNTER SECTION END -->

<!-- ABOUT BUSINESS -->
<section class="trd-about-business-section trd-section">
    <div class="container">
        <div class="row">
            <!-- About Business -->

            <div class="col-md-6  ">
                <div style="width:100%; max-width:100% !important;" class="btcwdgt-chart"></div>
            </div>

            <div class="col-md-6">
                <h3> What We Do </h3>
                 <p>Tradebitr offers traders the choice of three profitable
                 Crypto Options trading systems: Classic, Martingale and Fibonacci. The Classic System
                  always trades at the same amount. The Martingale System, meanwhile, raises the amount after a
                  loss to achieve a profit and then drops back to the original trade amount. With the Fibonacci System,
                   each Fibonacci sequence is individually calculated for each currency pair, raising the trade after a
                   loss and dropping after a win.</p>
                        <br>
                     <h3>What's Best Is... </h3>
                   <p>Tradebitr is a newly-launched 100% auto trading software for  Crypto Options which generates trading
                    signals and automatically executes trades directly to a user’s linked broker account. Offering traders a
                    professional signals service which looks set to surpass its competitors,
                    Tradebitr is fast gaining popularity within the trading community.

                          <strong>  An attractive aspect of this software is that no previous  Crypto Options trading knowledge is required to use the service. It’s just a case of signing up with Tradebitr and opening an account, via their website here, or
                          with one of their recommended brokers of which there are many including StockPair and Tropical Trade.</p>

            </div>
            <!-- End -->


        </div>
    </div>
    <div class="trd-partners-logo-section">
        <div class="container">
            <div class="row">
                <ul>

                    <li><%= image_tag "client-logo-1.jpg" %></li>
                    <li><%= image_tag "client-logo-2.png" %></li>
                    <li><%= image_tag "client-logo-3.png" %></li>
                    <li><%= image_tag "client-logo-4.jpg" %></li>
                    <li><%= image_tag "client-logo-5.png" %></li>

                </ul>
            </div>
        </div>
    </div>
</section>
<!-- ABOUT BUSINESS END -->

<!-- CLIENT LOGO CAROUSAL -->
<!-- COUNTER SECTION -->
<section class="trd-counter-section trd-section trd-homesix-counter">
    <div class="container">
        <div class="row">
        
          <div class="col-md-4 col-sm-4 col-xs-12 trd-counter">
              <h3 class="trd-count" data-from="0" data-to="82784">$</h3>
              <p>24-HOUR  &amp; VOLUME</p>
          </div>



          <div class="col-md-4 col-sm-4 col-xs-12 trd-counter trd-count-client">
              <h3 class="trd-count" data-from="0" data-to="234987">$</h3>
              <p>7-DAY VOLUME</p>
          </div>



          <div class="col-md-4 col-sm-4 col-xs-12 trd-counter">
              <h3 class="trd-count" data-from="0" data-to="3345000">$</h3>
              <p>PAYOUTS</p>
          </div>

      </div>
  </div>
</section>
<!-- CLIENT LOGO CAROUSAL END -->
<%= render "shared/pricing" %>

<!-- TESTIMONIAL -->
<section class="trd-testimonial-section trd-section">
    <div class="container">
        <div class="row">
            <div class="trd-section-title-wrapper col-md-12 col-sm-12 col-xs-12">
                <h1 class="trd-section-tittle">Client’s <span class="trd-highlight-text">Testimonials</span></h1>
                <div class="trd-testimonial-nav"></div>
            </div>

            <!-- Testimonials -->
            <div id="trd-testimonial-alt" class="trd-testimonial-alt">
                <!-- Slides -->
                <div class="trd-testimonial-slides">
                    <div class="trd-user-img-wrapper">
                        <%= image_tag "team-member-6.jpg" %>
                    </div>

                    <div class="trd-testimonial-text">
                        <h3 class="trd-clients-name">Natasha Gomez</h3>
                        <p>This is the real definition of being top notch. I literally watched my account blosssom into what it is today in just under 45 days and I belive that there is more to come</p>
                    </div>
                </div>
                <!-- End -->

                <!-- Slides -->
                <div class="trd-testimonial-slides">
                    <div class="trd-user-img-wrapper">
                        <%= image_tag "team-member-5.jpg" %>
                    </div>

                    <div class="trd-testimonial-text">
                        <h3 class="trd-clients-name">George Kane</h3>
                        <p>This is just incredible and just when I think its good enough, it just keeps getting better. Made over 4 withdrawals and I must confess that this is the best service I've ever recieved</p>
                    </div>
                </div>
                <!-- End -->

                <!-- Slides -->

                <!-- End -->

                <!-- Slides -->
                <div class="trd-testimonial-slides">
                    <div class="trd-user-img-wrapper">
                      <%= image_tag "team-member-1.jpg" %>
                    </div>

                    <div class="trd-testimonial-text">
                        <h3 class="trd-clients-name">Mitchel Kane</h3>
                        <p>I really did not think it was possible before now to make so much profit, but here I am right now saying "Anything is just possible with tradebit</p>
                    </div>
                </div>
                <!-- End -->
            </div>
            <!-- End -->
        </div>
    </div>
</section>
<!-- TESTIMONIAL END -->


<!-- CONTACT SECTION -->
<div class="trd-contact-section trd-gray-section trd-section">
    <div class="container">
        <div class="row">
            <div class="trd-custom-testimonial-wrapper trade-same-height"></div>

            <!-- Contact Form -->
            <div class="trd-contact-form-sec trade-same-height">
                <h1 class="trd-section-tittle" id="contact">Stay <span class="trd-highlight-text">Connected</span></h1>

                <div class="trd-contact-form-wrapper">
                <%= simple_form_for(@welcome, :url => welcome_index_path) do |f| %>
                          <%= f.error_notification %>
                      <%= f.input :name, id: 'trd-name' %>
                      <%= f.input :email, id: 'trd-email', required: true %>
                      <%= f.input :message, id: 'trd-message', as: :text, rows: "7", cols: "30" %>
                      <%= f.submit :submit, class: "btn btn-success btt", label: "Send Message" %>
                    <% end %>
                </div>
            </div>
            <!-- End -->
        </div>
    </div>
</div>
<!-- CONTACT SECTION END -->


 <!-- CTA SECTION -->
<section class="trd-cta-section">
    <div class="container">
        <div class="row">
            <div class="trd-cta-wrapper">
                <h3>We help you to get the best <span class="trd-highlight-text">business</span> growth  you need</h3>

                <%= link_to new_user_registration_path, class: " trd-btn trd-btn-alt" do %>
                Sign Up Now
                <% end %>
            </div>
        </div>
    </div>
</section>
<!-- CTA SECTION END -->
