

<!-- HERO SLIDER SECTION -->
<section class="trd-hero-slider-section">
    <div class="slider-pro trd-hero-slider" id="trd-slider-homesix">
        <div class="sp-slides">
            <!-- Slides -->
            <div class="sp-slide trd-main-slides">
                <div class="trd-dark-color-overlay"></div>

                <%= image_tag "home6-slider-img-1.jpg", class: "sp-image" %>

                <h1 class="sp-layer trd-slider-text-big"
                 data-position="centerLeft" data-vertical="-230"  data-horizontal="100"  data-show-transition="left" data-hide-transition="up" data-show-delay="1000" data-hide-delay="200">
                  Start <span class="trd-highlight-text"> Trading</span><br>  in minutes


                 </h1>

                <p class="sp-layer trd-slider-text-small"
                 data-position="centerLeft" data-vertical="0" data-horizontal="100" data-show-delay="1500" data-hide-delay="200" data-show-transition="down" data-hide-transition="down">
                  Join the world's largest digital currency powered trading platform.
                </p>

                <div class="sp-layer trd-hero-header-btns" data-position="centerLeft" data-vertical="200" data-horizontal="100" data-show-delay="2000" data-hide-delay="200" data-show-transition="down" data-hide-transition="up">
                    <a href="#" class="trd-btn">Details</a>
                    <%= link_to new_user_registration_path, class: " trd-btn trd-btn-purple " do %>
                    Sign Up
                    <% end %>
                </div>
            </div>
            <!-- Slides End -->


            <!-- Slides -->
            <div class="sp-slide trd-main-slides">
                <div class="trd-dark-color-overlay"></div>

                  <%= image_tag "home5-slider-img-2.jpg", class: "sp-image" %>

                <h1 class="sp-layer trd-slider-text-big"
                 data-position="center" data-vertical="-230"  data-horizontal="300"  data-show-transition="left" data-hide-transition="up" data-show-delay="1000" data-hide-delay="200">
                  Earn <span class="trd-highlight-text">Profits</span><br>While you sleep
                 </h1>

                <p class="sp-layer trd-slider-text-small"
                 data-position="center" data-vertical="0" data-horizontal="465" data-show-delay="1500" data-hide-delay="200" data-show-transition="down" data-hide-transition="down">
                  Earn deposit and cashback bonuses based on your trading activity. <br> Make Upto 100% Your deposit in just 14 days
                </p>

                <div class="sp-layer trd-hero-header-btns" data-position="center" data-vertical="200" data-horizontal="100" data-show-delay="2000" data-hide-delay="200" data-show-transition="down" data-hide-transition="up">
                  <%= link_to new_user_registration_path, class: " trd-btn trd-btn-purple " do %>
                  Sign Up
                  <% end %>
                </div>
            </div>
            <!-- Slides End -->
        </div>
    </div>
</section>
<!-- HERO SLIDER SECTION END -->
<br>

<br>
<div class="container">
<div class="row">
  <div class="col-md-12">
    <div class="text-center"><h1>How It Works </h1></div>
</div>
</div>
</div>
<section class="trd-about-business-section trd-section">
    <div class="container">
        <div class="row">
            <!-- About Business -->
            <div class="col-md-8 col-sm-6 col-xs-12 trd-about-business-wrapper tab-content">
                <div role="tabpanel" class="tab-pane fade" id="tab-1">
                    <div class="trd-img-wrapper">

                        <%= image_tag "category-img-3.jpg" %>
                    </div>

                    <div class="trd-about-details">
                        <h1 class="trd-section-tittle">Market <span class="trd-highlight-text">Resarch</span></h1>

                        <p>Despite being a new Crypto Option trading system, AutoTrader Robot has already caught the attention of many Crypto Crypto Crypto Crypto Options traders who have been quick to recognize this potentially lucrative piece of software with its highly customizable service. We look forward to monitoring this exciting new robot’s win-rates in the coming months and highly recommend that traders check it out as it offers a very promising auto trading solution, pending some further evidence of user success rates.</p>

                        <a href="#" class="trd-details-link">Details</a>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane fade in active" id="tab-2">
                    <div class="trd-img-wrapper">
                        <%= image_tag "graph.png" %>
                    </div>

                    <div class="trd-about-details">
                        <h1 class="trd-section-tittle">What Is <span class="trd-highlight-text">AutoTrader Robot</span></h1>

                        <p>AutoTrader Robot is a newly-launched 100% auto trading software for  Crypto Options which generates trading signals and automatically executes trades directly to a user’s linked broker account. Offering traders a professional signals service which looks set to surpass its competitors, AutoTrader Robot is fast gaining popularity within the trading community.

An attractive aspect of this software is that no previous  Crypto Options trading knowledge is required to use the service. It’s just a case of signing up with AutoTrader Robot and opening an account, via their website, with one of their recommended brokers of which there are many including StockPair and Tropical Trade.</p>

                        <a href="#" class="trd-details-link">Details</a>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="tab-3">
                    <div class="trd-img-wrapper">
                        <%= image_tag "imgbox-img-3.jpg" %>
                    </div>

                    <div class="trd-about-details">
                        <h1 class="trd-section-tittle">Business <span class="trd-highlight-text">Growth</span></h1>

                        <p>Auto TraderRobot offers traders the choice of three profitable Crypto Crypto Options trading systems: Classic, Martingale and Fibonacci. The Classic System always trades at the same amount. The Martingale System, meanwhile, raises the amount after a loss to achieve a profit and then drops back to the original trade amount. With the Fibonacci System, each Fibonacci sequence is individually calculated for each currency pair, raising the trade after a loss and dropping after a win.</p>

                        <a href="#" class="trd-details-link">Details</a>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="tab-4">
                    <div class="trd-img-wrapper">
                        <img src="images/imgbox-img-1.jpg" alt="Image">
                    </div>

                    <div class="trd-about-details">
                        <h1 class="trd-section-tittle">Using The Software</h1>

                        <p>Using Auto TraderRobot really couldn’t be easier. All you need to do is open an account, make a deposit, select “Start Auto Trading,” on the dashboard and let the software take care of the rest.

Traders can select the currency pairs that the robot will trade, the expiry time and the amount that will be invested in each trade along with the indicators that will generate the signals under “Settings”. Hence, signals are generated depending on the indicators and the expiry time selected by the trader.</p>

                        <a href="#" class="trd-details-link">Details</a>
                    </div>
                </div>
            </div>
            <!-- End -->

            <!-- Accordion -->
            <div class="col-md-4 col-sm-6 col-xs-12 trd-tab-nav-wrapper">
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"><a href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab">Market resarch</a></li>
                    <li role="presentation" class="active"><a href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab">Investment planning</a></li>
                    <li role="presentation"><a href="#tab-3" aria-controls="tab-3" role="tab" data-toggle="tab">Business growth</a></li>
                    <li role="presentation"><a href="#tab-4" aria-controls="tab-4" role="tab" data-toggle="tab">Analysis</a></li>
                  </ul>
            </div>
            <!-- End -->
        </div>
    </div>
</section>
<!-- CUSTOM SECTION -->
<section class="trd-custom-section trd-gray-section">
    <div class="container">
        <div class="row">
            <div class="trd-process-step-wrapper">
                <div class="trd-process-step-wrapper col-md-4 col-sm-4 col-xs-12">
                    <div class="trd-process-step">
                        <div class="trd-step-img-wrapper">

                            <%= image_tag "step-1.jpg", alt: "step 1" %>
                        </div>

                        <div class="trd-step-details-wrapper">
                            <a href="#"><span>01</span> Deposit Digital Currency</a>
                        </div>
                    </div>
                </div>

                <div class="trd-process-step-wrapper col-md-4 col-sm-4 col-xs-12">
                    <div class="trd-process-step">
                        <div class="trd-step-img-wrapper">
                            <%= image_tag "step-2.jpg" %>
                        </div>

                        <div class="trd-step-details-wrapper">
                            <a href="#"><span>02</span> Use Our Auto-trader software</a>
                        </div>
                    </div>
                </div>

                <div class="trd-process-step-wrapper col-md-4 col-sm-4 col-xs-12">
                    <div class="trd-process-step">
                        <div class="trd-step-img-wrapper">
                            <%= image_tag "step-3.jpg" %>
                        </div>

                        <div class="trd-step-details-wrapper">
                            <a href="#"><span>03</span> Withdraw And Enjoy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CUSTOM SECTION END -->

<!-- SERVICE SECTION -->
<section class="trd-service-section trd-section">
    <div class="container">
        <div class="row">
            <!-- Icon with text -->
            <div class="col-md-4 col-sm-4 col-xs-12 trd-icon-top-with-text">
                <div class="trd-icon-wrapper">
                    <i class="tradeicon-trd-coffee-mug"></i>
                </div>

                <div class="trd-details">
                    <h3>
                        <a href="#">Easy-To-Use</a>
                    </h3>

                    <p>The trading dashboard gives you a unified and powerful trading experience. Quickly check price charts loaded with essential tools and effortlessly browse trading ideas and news without needing to switch context.</p>
                </div>
            </div>
            <!-- End -->

            <!-- Icon with text -->
            <div class="col-md-4 col-sm-4 col-xs-12 trd-icon-top-with-text">
                <div class="trd-icon-wrapper">
                    <i class="tradeicon-trd-trophy"></i>
                </div>

                <div class="trd-details">
                    <h3>
                        <a href="#">Upfront Risk Management</a>
                    </h3>

                    <p>Easily set take profit levels, stop losses, and trailing stops that work exactly as you expect. Experience the thrill of guaranteed stops with unmatched execution speed.</p>
                </div>
            </div>
            <!-- End -->

            <!-- Icon with text -->
            <div class="col-md-4 col-sm-4 col-xs-12 trd-icon-top-with-text">
                <div class="trd-icon-wrapper">
                    <i class="tradeicon-trd-chart-board"></i>
                </div>

                <div class="trd-details">
                    <h3>
                        <a href="#">Bonuses</a>
                    </h3>

                    <p>Earn deposit and cashback bonuses based on your trading activity. Get notified of bonus payments made to your balance in real-time as you trade, right in your dashboard</p>
                </div>
            </div>
            <!-- End -->
        </div>
    </div>
</section>
<!-- SERVICE SECTION END -->

<!-- COUNTER SECTION -->
<section class="trd-counter-section trd-section trd-homesix-counter">
    <div class="container">
        <div class="row">
            <!-- Counter Item -->
            <div class="col-md-4 col-sm-4 col-xs-12 trd-counter">
                <h3 class="trd-count" data-from="0" data-to="82781776">$</h3>
                <p>24-HOUR  &amp; VOLUME</p>
            </div>
            <!-- End -->

            <!-- Counter Item -->
            <div class="col-md-4 col-sm-4 col-xs-12 trd-counter trd-count-client">
                <h3 class="trd-count" data-from="0" data-to="463644938">$</h3>
                <p>7-DAY VOLUME</p>
            </div>
            <!-- End -->

            <!-- Counter Item -->
            <div class="col-md-4 col-sm-4 col-xs-12 trd-counter">
                <h3 class="trd-count" data-from="0" data-to="47929732">$</h3>
                <p>PAYOUTS</p>
            </div>
            <!-- End -->
        </div>
    </div>
</section>
<!-- COUNTER SECTION END -->

<!-- ABOUT BUSINESS -->
<section class="trd-about-business-section trd-section">
    <div class="container">
        <div class="row">
            <!-- About Business -->
            <div class="col-md-12  ">
                <div style="width:100%; max-width:100% !important;" class="btcwdgt-chart"></div>
            </div>
            <!-- End -->


        </div>
    </div>
    <div class="trd-partners-logo-section">
        <div class="container">
            <div class="row">
                <ul>

                    <li><%= image_tag "client-logo-1.png" %></li>
                    <li><%= image_tag "client-logo-2.png" %></li>
                    <li><%= image_tag "client-logo-3.png" %></li>
                    <li><%= image_tag "client-logo-4.png" %></li>
                    <li><%= image_tag "client-logo-1.png" %></li>

                </ul>
            </div>
        </div>
    </div>
</section>
<!-- ABOUT BUSINESS END -->

<!-- CLIENT LOGO CAROUSAL -->

<!-- CLIENT LOGO CAROUSAL END -->
<%= render "shared/pricing" %>

<!-- TESTIMONIAL -->
<section class="trd-testimonial-section trd-section">
    <div class="container">
        <div class="row">
            <div class="trd-section-title-wrapper col-md-12 col-sm-12 col-xs-12">
                <h1 class="trd-section-tittle">Client’s <span class="trd-highlight-text">Testimonials</span></h1>
                <div class="trd-testimonial-nav"></div>
            </div>

            <!-- Testimonials -->
            <div id="trd-testimonial-alt" class="trd-testimonial-alt">
                <!-- Slides -->
                <div class="trd-testimonial-slides">
                    <div class="trd-user-img-wrapper">
                        <%= image_tag "team-member-6.jpg" %>
                    </div>

                    <div class="trd-testimonial-text">
                        <h3 class="trd-clients-name">Natasha Gomez</h3>
                        <p>explain to eco  good better business Checkout and enjoy the bgges claim free explain to you how mistaken some others me people can</p>
                        <p class="trd-clients-designation">Manager, <span>Financo</span></p>
                    </div>
                </div>
                <!-- End -->

                <!-- Slides -->
                <div class="trd-testimonial-slides">
                    <div class="trd-user-img-wrapper">
                        <%= image_tag "team-member-5.jpg" %>
                    </div>

                    <div class="trd-testimonial-text">
                        <h3 class="trd-clients-name">George Kane</h3>
                        <p>explain to eco  good better business Checkout and enjoy the bgges claim free explain to you how mistaken some others me people can</p>
                        <p class="trd-clients-designation">Director, <span>Tradex</span></p>
                    </div>
                </div>
                <!-- End -->

                <!-- Slides -->

                <!-- End -->

                <!-- Slides -->
                <div class="trd-testimonial-slides">
                    <div class="trd-user-img-wrapper">
                      <%= image_tag "team-member-1.jpg" %>
                    </div>

                    <div class="trd-testimonial-text">
                        <h3 class="trd-clients-name">Mitchel Kane</h3>
                        <p>explain to eco  good better business Checkout and enjoy the bgges claim free explain to you how mistaken some others me people can</p>
                        <p class="trd-clients-designation">Director, <span>Tradex</span></p>
                    </div>
                </div>
                <!-- End -->
            </div>
            <!-- End -->
        </div>
    </div>
</section>
<!-- TESTIMONIAL END -->


<!-- CONTACT SECTION -->
<div class="trd-contact-section trd-gray-section trd-section">
    <div class="container">
        <div class="row">
            <div class="trd-custom-testimonial-wrapper trade-same-height"></div>

            <!-- Contact Form -->
            <div class="trd-contact-form-sec trade-same-height">
                <h1 class="trd-section-tittle">Stay <span class="trd-highlight-text">Connected</span></h1>

                <div class="trd-contact-form-wrapper">
                    <form action="#">
                        <input type="text" name="trd-name" id="trd-name" placeholder="Your name">
                        <input type="email" name="trd-email" id="trd-email" placeholder="Your email">
                        <input type="text" name="trd-subject" id="trd-subject" placeholder="I would like to discuss">
                        <input type="tel" name="trd-phone" id="trd-phone" placeholder="Phone number">

                        <button type="submit" class="trd-btn">Submit</button>
                    </form>
                </div>
            </div>
            <!-- End -->
        </div>
    </div>
</div>
<!-- CONTACT SECTION END -->


 <!-- CTA SECTION -->
<section class="trd-cta-section">
    <div class="container">
        <div class="row">
            <div class="trd-cta-wrapper">
                <h3>We help you to get the best <span class="trd-highlight-text">business</span> growth  &amp; you need</h3>
                <a href="#" class="trd-btn trd-btn-alt">Get a Quote</a>
            </div>
        </div>
    </div>
</section>
<!-- CTA SECTION END -->
