<!-- FOOTER -->
<footer>
    <div class="container">
        <div class="row">
            <!-- Footer Top -->
            <div class="trd-footer-top">
                <!-- About Widget -->
                <div class="col-md-3 col-sm-6 col-xs-12 trd-footer-widget trd-about-widget">
                    <div class="trd-logo-wrapper">

                        <%= image_tag "logo-footer-6.png" %>
                    </div>

                    <p>Earn deposit and cashback bonuses based on your trading activity. Get notified of bonus payments made to your balance in real-time as you trade, right in your dashboard</p>
                </div>
                <!-- End -->

                <!-- Useful Link Widget -->
                <div class="col-md-3 col-sm-6 col-xs-12 trd-footer-widget trd-useful-link-widget">
                    <h3 class="trd-footer-widget-title">Useful Link</h3>

                    <div class="trd-footer-widget-content">
                        <ul>
                          <li>
                            <%= link_to "About Us", page_path("about") %>
                          </li>
                            <li><a href="https://drive.google.com/open?id=0B5jZgQVjo_uQbVNTbWtIZWoyS1U">Company info/White Paper</a></li>
                            <li>
                              <%= link_to "How It Works", page_path("How-it-works") %>
                            </li>
                            <li>
                              <%= link_to "Account", accounts_path %>

                            </li>
                            <li>
                              <%= link_to "Contact Us", "#contact" %>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End -->

                <!-- Recent Post Widget -->
                <div class="col-md-3 col-sm-6 col-xs-12 trd-footer-widget trd-recent-post-widget">
                    <h3 class="trd-footer-widget-title">Recent Post</h3>

                    <div class="trd-footer-widget-content">
                        <div class="trd-recent-post-wrapper">
                            <!-- Post Item -->
                            <div class="trd-recent-post-item">
                                <h3 class="trd-post-title">
                                    <a href="#">Bitcoin Developers concerned about segwit </a>
                                </h3>

                                <span class="trd-post-date">july 25, 2017</span>
                            </div>
                            <!-- End -->

                            <!-- Post Item -->
                            <div class="trd-recent-post-item">
                                <h3 class="trd-post-title">
                                    <a href="#">Bitcoin Cash Launching Date. Excitment or Loss?</a>
                                </h3>

                                <span class="trd-post-date">August 1, 2017</span>
                            </div>
                            <!-- End -->
                        </div>
                    </div>
                </div>
                <!-- End -->

                <!-- Subscribe For Widget -->
                <div class="col-md-3 col-sm-6 col-xs-12 trd-footer-widget trd-subscribe-widget">
                    <h3 class="trd-footer-widget-title">Subscribe</h3>

                    <div class="trd-footer-widget-content">
                        <p>Let Chat. we promise not to disturb</p>

                        <form action="#">
                            <input type="email" name="trd-subscription" id="trd-subscription" placeholder="Your email">
                            <button type="submit" class="trd-btn">Submit</button>
                        </form>
                    </div>
                </div>
                <!-- End -->
            </div>
            <!-- End -->

            <!-- Footer Bottom -->
            <div class="trd-footer-bottom">
                <div class="trd-footer-menu">
                    <ul>
                      <div class="trd-social-links">
                          <ul>
                              <li class="trd-fb-icon">
                                  <a href="https://facebook.com/tradebitr">
                                      <i class="fa fa-facebook"></i>
                                  </a>
                              </li>
                              <li class="trd-twitter-icon">
                                  <a href="https://twitter.com/tradebitr">
                                      <i class="fa fa-twitter"></i>
                                  </a>
                              </li>

                          </ul>
                      </div>
                    </ul>
                </div>

                <div class="trd-copyright-info">
                    <p>Copyright &copy; 2016 by <a href="http://web.zonia.co" class="trd-author-link">TradeBitr</a></p>
                </div>
            </div>
            <!-- End -->
        </div>
    </div>
    <!-- End -->
</footer>
<!-- FOOTER END -->
