
<div class="page-header page-header-default">
  <div class="page-header-content">
    <div class="page-title">
      <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Managment</span> - Dashboard</h4>
    </div>
  </div>

  <div class="breadcrumb-line">
    <ul class="breadcrumb">
      <li><a href="index.html"><i class="icon-home2 position-left"></i> Management</a></li>
      <li class="active">transactions</li>
    </ul>

  </div>
</div>
<!-- /page header -->
<div class="panel panel-flat">
  <div class="panel-heading">
    <h5 class="panel-title">transactions List</h5>
    <div class="heading-elements">
      <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
                <li><a data-action="close"></a></li>
              </ul>
            </div>
  </div>

  <div class="panel-body">
  </div>
<table class="table datatable-responsive">
  <thead>
    <tr>
      <th>Account ID</th>
      <th>transaction type</th>
      <th>transaction Number</th>
      <th>transaction Amount</th>
      <th> Transaction hsah address</th>
      <th>Created At </th>
      <th>Status </th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |t| %>
    <tr>
      <td><%= t.account_id %></td>
      <td><%= t.transaction_type %></td>
      <td><%= t.transaction_number %> </td>
      <td><%= t.amount %></td>
      <td><%= t.txhash %></td>
      <td><%= t.created_at.strftime("%d %b %Y") %></td>
       <% if t.comfirmed? %>
        <td><span class="label label-success">Confirmed</span> </td>
        <% else %>
      <td><span class="label label-danger">Not confirmed</span></td>
      <% end %>
      <td class="text-center">
        <ul class="icons-list">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-menu9"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
              <li><%= link_to comfirm_managment_transaction_path(t), method: :patch do %><i class="icon-file-pdf"></i>Comfirm<%end %></li>
              <li><%= link_to managment_transaction_path(t), method: :delete, data: { confirm: 'Are you sure?' } do %><i class="icon-file-word"></i>Delete<%end%></li>
            </ul>
          </li>
        </ul>
      </td>
    </tr>
    <%end%>

  </tbody>
</table>
</div>
