<%= simple_form_for(@balance) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :balance %>
<%=    f.input :tradeId %>
  <%=  f.input :currency, :as => :select, :collection => ['USD', 'GB', 'AUD/USD', 'AUD/GB'] %>
    <%=  f.input :deposit %>
    <%=  f.input :expiration %>
    <%=  f.input :status, as: :select, :collection => ["WON", "LOSE"] %>
    <%=  f.input :tradetype %>
    <%=  f.input :entry %>
    <%=  f.input :rate %>
    <%=    f.input :return %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
