<% content_for(:body_attributes) do %>
data-turbolinks="false"
<% end %>
<%= render "shared/top" %>

<% if Account.where(user_id: current_user.id).exists?%>
<!-- PAGE HEADER -->
<section class="trd-page-breadcumb-header">
  <div class="container">
    <div class="row">
      <div class="trd-breadcumb-wrapper col-md-4">
        <% @accounts.take(1).each do |a| %>
        <h3>  Account balance: <%= number_to_currency(a.balance, unit: "$") %></h3>
        <small> Bitoin Address: <%= a.bitcoin_address %></small>

      </div>
      <div class=" col-md-8">
        <div class="row">
          <h3 class="col-md-9">Start Earning A  <span class="trd-highlight-text"> Percentage Daily
          </span> By Making A  </h3>
          <div class="col-md-3">
            <%= link_to a, class: "trd-btn trd-btn-alt" do %> Contracts <% end %>
          </div>
        </div>



      </div>
      <% end %>

    </div>
  </section>
  <!-- PAGE HEADER END -->

  <!-- PAGE CONTENTS -->


  <section class="trd-page-contents-wrapper">
    <div class="container">


      <div class="row">

        <!-- Sidebar -->
        <div class="trd-sidebar trd-sidebar-left col-md-3 col-sm-4 col-xs-12">
          <!-- Widget -->
          <div class="btcwdgt-price"></div>
          <div class="trd-sidebar-widget trd-pagelink-widget">
            <ul>
              <li> Account Details  </li>
              <% @accounts.take(1).each do |a| %>
              <li>
                Account Number: <%= a.account_number%>
              </li>

              <li>
                Account balance: <%= number_to_currency(a.balance, unit: "USD") %>



              </ul>
            </div>
            <!-- End -->

            <!-- Widget -->
            <div class="trd-sidebar-widget trd-download-widget">
              <p>View <br>Your <span class="trd-highlight-text">Account History</span> from here</p>

              <%= link_to "Account Transactions", a, class: "trd-btn" %>
            </div>
            <% end %>
            <!-- End -->
          </div>
          <!-- Sidebar End -->

          <!-- Page Contents -->
          <div class=" col-md-9 col-sm-8 col-xs-12">
            <div class="col-md-12 embed-responsive embed-responsive-16by9">

              <div style="width:100%; max-width:100% !important;" class="btcwdgt-chart"></div>
              <br>

              <div style="width:100%; max-width:100% !important;" class="btcwdgt-news-ticker"></div>
            </div>





          </div>
        </div>



      </div>
    </div>
  </section>
  <!-- PAGE CONTENTS END -->
  <section class="trd-page-contents-wrapper">
    <div class="container">
      <h1 class="text-center">Latest News </h1>
      <div class="row">
        <div class="col-md-6 embed-responsive embed-responsive-16by9">
          <div class="btcwdgt-news" bw-cur="eur" bw-theme="light"></div>
        </div>
        <div class="col-md-6 embed-responsive embed-responsive-16by9">
          <div class="btcwdgt-forum" bw-theme="light"></div>
        </div>
      </div>
    </div>
  </section>

  <%else%>
  <section class="trd-page-breadcumb-header">
    <div class="container">
      <div class="row">
        <h1 class="trd-page-title">Start Increasing Your Worth By Creating An Account  Now</h1>

      </div>
    </div>
  </section>
  <section class="trd-page-contents-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <%= link_to "Create Account", new_account_path, class: "trd-btn trd-btn-purple" %>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>  <br>
        <br>  <br>
        <br>
      </div>
    </div>
  </section>
  <%end%>
