<!-- PAGE HEADER -->
<%= render "shared/top" %>
      <section class="trd-page-breadcumb-header">
          <div class="container">
              <div class="row">
                  <h1 class="trd-page-title">Deposit Funds</h1>
                  <div class="trd-breadcumb-wrapper">

                  </div>
              </div>
          </div>
      </section>
      <!-- PAGE HEADER END -->

      <!-- PAGE CONTENTS -->
      <section class="trd-page-contents-wrapper">
          <div class="container">
              <div class="row">
                <div class="trd-contact-form-wrapper col-md-8 col-md-offset-2 col-sm-6 col-xs-12">
                    <h1 class="trd-section-tittle">Deposit <span class="trd-highlight-text"> Request Form</span></h1>


                      <%= simple_form_for([:balance, @depositor], :url => balance_depositor_index_path) do |f| %>
                          <%= f.error_notification %>
                      <%= f.input :name, id: 'trd-name' %>
                      <%= f.input :email, id: 'trd-email', required: true %>
                      <%= f.input :amount %>
                      <%= f.input :message, id: 'trd-message', as: :text, rows: "7", cols: "30" %>
                      <%= f.submit :submit, class: "btn btn-success btt", label: "Send Message" %>
                    <% end %>
                </div>
              </div>
            </div>
          </section>
